<html>
<center>
   <h1> The hostname of this webserver is {{ ansible_hostname }}</h1>
   <h3> It is running on {{ ansible_default_ipv4.address }} system </h3>
   <h3> Тестирование HAPROXY</h3>
</center>
</html>
